.dialog-mask {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.2;
}

.dialog-container {
	position: fixed;
	background-color: #f6f6f6;
	border: 1px solid #dddddd;
	border-radius: 5px 5px 5px 5px;
}

.dialog-container .dialog-header {
	position: relative;
	width: 100%;
	height: 25px;
}

.dialog-container .dialog-title {
	position: absolute;
	left: 5px;
	height: 100%;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
}

.dialog-container .dialog-close {
	position: absolute;
	top: 6px;
	right: 5px;
	width: 16px;
	height: 16px;
	background: url(../icon/panel_tools.png) no-repeat -16px 0px;
	opacity: 0.5;
}

.dialog-container .dialog-close:HOVER {
	cursor: pointer;
	opacity: 1;
}

.dialog-container .dialog-content {
	margin: 5px;
	padding: 10px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	font-size: 14px;
	overflow: auto;
}
