.panel {
	border: 1px solid #dddddd;
}

.panel .panel-header {
	background-color: #f6f6f6;
	height: 25px;
	border-bottom: 1px solid #dddddd;
}

.panel .panel-title {
	margin-left: 5px;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	line-height: 25px;
}

.panel .panel-content {
	padding: 10px;
	overflow: auto;
}
