.datatable-wrapper {
	width: 100%;
}
.datatable {
	width: 100%;
	font-size: 12px;
}
.datatable td, .datatable th {
	padding: 5px 10px;
	text-align: left;
	border-bottom: 1px solid #95B8E7;
	border-left: 1px solid #95B8E7;
}
.datatable th {
	border-top: 1px solid #95B8E7;
	background: #e6efff;
}
.datatable tr td:last-child, .datatable tr th:last-child {
	border-right: 1px solid #95B8E7;
}
