.message-info-icon {
	background: url(../icon/messager_icons.png) no-repeat 0px 0px;
}

.message-question-icon {
	background: url(../icon/messager_icons.png) no-repeat -32px 0px;
}

.message-warning-icon {
	background: url(../icon/messager_icons.png) no-repeat -96px 0px;
}

.message-error-icon {
	background: url(../icon/messager_icons.png) no-repeat -64px 0px;
}

.message-success-icon {
	background: url(../icon/success_icon.png) no-repeat 0px 0px;
}

.message-icon {
	float: left;
	display: block;
	margin-left: 10px;
	margin-right: 15px;
	width: 32px;
	height: 32px;
	overflow: hidden;
}

.message-content {
	height: 50%;
	margin-top: 10px;
}

.message-button-container {
	width: 100%;
	text-align: center;
}
