.pagination {
	width: 100%;
}
.pagination a {
	display: inline-block;
	margin: 0 3px;
	padding: 0 8px;
	height: 20px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	color: #000000;
	line-height: 20px;
	background: #e6efff;
	border: 1px solid #95B8E7;
}
.pagination a:first-child {
	margin-left: 0px;
}
.pagination a:last-child {
	margin-right: 0px;
}
.page-container {
	display: inline-block;
}
.pagination a.current-page {
	background: #95B8E7;
	border: 1px solid #95B8E7;
	cursor: default;
}
.pagination a:HOVER {
	background: #95B8E7;
	border: 1px solid #95B8E7;
	cursor: pointer;
}
.pagination a.disable-page {
	color: #95B8E7;
	background: #ffffff;
	border: 1px solid #95B8E7;
	cursor: default;
}
