.panel {
	border: 1px solid #95B8E7;
}

.panel .panel-header {
	background-color: #e6efff;
	height: 25px;
	border-bottom: 1px solid #95B8E7;
}

.panel .panel-title {
	margin-left: 5px;
	color: #0E2D5F;
	font-size: 12px;
	font-weight: bold;
	line-height: 25px;
}

.panel .panel-content {
	padding: 10px;
	overflow: auto;
}
